:host {
    font-weight: normal !important;
    all: unset;
    font-size: 14px !important;
    line-height: 1.4 !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 12px !important;
}

.emergency_news_header {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
}

@media (max-width: 800px) {
    .emergency_news_header div {
        display: none;
    }
}

.emergency_news_body {
    padding: 10px;
    background-color: #f9f9f9;
}

.tippy-box .emergency_news_body a {
    color: #1c1080;
}

img.emergency_news_logo {
    height: 35px !important;
}

a.emergency_news_code4ro_logo {
    margin-left: auto;
}

img.emergency_news_code4ro_logo {
    height: 35px !important;
    padding-right: 10px;
}

img.emergency_news_gov_logo {
    height: 35px !important;
}

.emergency_news_chart {
    width: 80%;
    height: 400px;
    margin: auto;
}
