.tippy-box {
    font-weight: normal;
}

.tippy-box a {
    color: #1c1080;
}

@media (min-width: 800px) {
    .tippy-content {
        width: 600px;
    }
}

.emergency_news {
    background-color: #06d6c7;
    color: black;
}

.tippy-content {
    background-color: #f9f9f9;
    padding: 0px 0px;
}

.tippy-content .emergency_news_header {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 5px;
    font-size: 12px;
}

@media (max-width: 800px) {
    .tippy-content .emergency_news_header div {
        display: none;
    }
}

.tippy-content .emergency_news_body {
    padding: 10px;
}

.tippy-content .emergency_news_body div {
    padding-top: 3px;
}

.tippy-content .emergency_news_logo {
    height: 35px;
    padding: 5px 60px 5px 5px;
}

.tippy-content .emergency_news_code4ro_logo {
    height: 35px;
    padding: 5px 10px 5px 5px;
}

.tippy-content .emergency_news_gov_logo {
    height: 35px;
    padding: 5px;
}