:host {
    font-weight: normal !important;
    all: unset;
    font-size: 14px !important;
    line-height: 1.4 !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 12px !important;
    text-align: left !important;
}

.emergency_news_header {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
}

@media (max-width: 800px) {
    .emergency_news_header div {
        display: none;
    }
}

.emergency_news_body {
    padding: 10px;
    background-color: #f9f9f9;
}

.tippy-box .emergency_news_body a {
    color: #1c1080;
}

img.emergency_news_logo {
    height: 35px !important;
}

a.emergency_news_code4ro_logo {
    margin-left: auto;
}

img.emergency_news_code4ro_logo {
    height: 35px !important;
    padding-right: 10px;
}

img.emergency_news_gov_logo {
    height: 35px !important;
}

.emergency_news_chart {
    width: 80%;
    height: 400px;
    margin: auto;
}

.emergency_news_title_wrapper {
    display: flex;
    align-items: center;
}

.emergency_news_mark_as_read_tooltip {
    margin-left: auto;
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
}

.emergency_news_mark_as_read_tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    opacity: 0;
    transition: opacity 0.3s;
}

.emergency_news_mark_as_read_tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.emergency_news_mark_as_read_tooltip:hover .emergency_news_mark_as_read_tooltiptext {
    visibility: visible;
    opacity: 1;
}