.emergency_news_header {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 5px;
}

.emergency_news_header div {
    font-size: 12px !important;
}

@media (max-width: 800px) {
    .emergency_news_header div {
        display: none;
    }
}

.emergency_news_body {
    padding: 10px;
}

.tippy-box .emergency_news_body a {
    color: #1c1080;
}

.emergency_news_body div {
    padding-top: 3px;
}

img.emergency_news_logo {
    height: 35px !important;
    padding: 5px 60px 5px 5px;
}

img.emergency_news_code4ro_logo {
    height: 35px !important;
    padding: 5px 10px 5px 5px;
}

img.emergency_news_gov_logo {
    height: 35px !important;
    padding: 5px;
}

.emergency_news_body_images {
    display: flex;
    justify-content: center;
}

.emergency_news_body_images img {
    max-width: 100%;
}